{% extends "master.html" %}

{% block left-menu %}
  {% include 'left-menu.html' %}
{% endblock %}

{% block content %}
<div class="card" style="margin-left: -200px; width: calc(100% + 140px);">
  <h5 class="card-header text-start" style="font-size: 2em; font-weight: bold; position: relative;">
    Badminton Courts & Schedule
  </h5>
  <div class="table-responsive text-nowrap" style="overflow-x: auto;">
    <table class="table w-100">
      <thead class="table-dark">
        <tr>
          <th><strong>COURT NAME</strong></th>
          <th><strong>START TIME</strong></th>
          <th><strong>END TIME</strong></th>
          <th><strong>COST COURT</strong></th>
          <th><strong>TYPE COURT</strong></th>
          <th><strong>LOCATION</strong></th>
          <th><strong>SCHEDULE TYPE</strong></th>
          <th><strong>STATUS</strong></th>
          <th><strong>MIN DURATION (MONTHS)</strong></th>
          <th><strong>TOTAL HOURS (MONTHLY)</strong></th>
          <th><strong>ACTION</strong></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for item in courts %}
        <tr class="table-default">
          <td>
            <img src="https://cdn-icons-png.flaticon.com/128/505/505730.png" loading="lazy" alt="Badminton" width="40" height="40">
            <span>{{ item.name_court }}</span>
          </td>
          <td>{{ item.start_time }}</td>
          <td>{{ item.end_time }}</td>
          <td>{{ item.cost_court }}</td>
          <td>{{ item.type_court }}</td>
          <td><span class="badge bg-label-primary me-1">{{ item.location }}</span></td>
          <td>{{ item.schedule_type }}</td>
          <td><span class="badge bg-label-info">{{ item.status }}</span></td>
          <td>{{ item.min_duration_months }}</td>
          <td>{{ item.total_hours_per_month|default:"N/A" }}</td>
          <td>
            <a href="{% url 'Bookings' %}?name_court={{ item.name_court }}&start_time={{ item.start_time|slice:':5' }}&end_time={{ item.end_time|slice:':5' }}&cost_court={{ item.cost_court }}&type_court={{ item.type_court }}&location={{ item.location }}" class="btn btn-success">Book Now</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
