{% extends "master.html" %}



{%block Navbar%}
{%include 'Navbar.html'%}
{%endblock%}



{%block left-menu%}
  {%include 'left-menu.html'%}
{%endblock%}

{% block content %}
<div class="card">
    <h5 class="card-header">Contextual Classes</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th><strong>COURT NAME</strong></th>
            <th><strong>START TIME</strong></th>
            <th><strong>END TIME</strong></th>
            <th><strong>COST COURT</strong></th>
            <th><strong>TYPY COURT</strong></th>
            <th>LOCATION</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

          {% for item in courts %}
            <tr class="table-default">
              <td>
                <img src="https://cdn-icons-png.flaticon.com/128/505/505730.png" loading="lazy" alt="Badminton" title="Badminton" width="40" height="40">
                <span>{{item.name_court}}</td>
                <td>{{item.start_time}}</td>
                <td>{{item.end_time}}</td>
                <td>{{item.type_court}}</td>
                <td>{{item.cost_court}}</td>
                <td><span class="badge bg-label-primary me-1">{{item.location}}</span></td>
                <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="Court-edit/{{ item.id }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <div>
{% endblock %}
